# phpstorm project files
.idea
*.iml

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# composer.lock in applications is ignored since it's automatically created by composer when application is installed
/apps/*/composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# ignore dev installed apps and extensions
/apps
/extensions
/packages
!/mysql/

# NPM packages
/node_modules
.env
package-lock.json!/mysql/admin_key/!/mysql/admin_key/

!/mysql/mysql/

!/mysql/performance_schema/

!/mysql/auto.cnf

!/mysql/ib_logfile0

!/mysql/ib_logfile1

!/mysql/ibdata1
