# phpstorm project files
.idea
*.iml

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# composer.lock in applications is ignored since it's automatically created by composer when application is installed
/apps/*/composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# ignore dev installed apps and extensions
/apps
/extensions
!/packages
!/mysql
/mysql
!/vagrant
/vagrant
/web/plantillas/
/web/contratos_firmados/
!/web/firmas/
/web/firmas/
!/vendor
/vendor

# NPM packages
/node_modules
.env
package-lock.json!/mysql/admin_key/!/mysql/admin_key/

!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

!/config/db.php
!/composer.lock
!/tests/

/web/documents/
